Algorithms/datasets/cifar100/cifar-100-python.tar.gz
Algorithms/datasets/cifar100/cifar-100-python/file.txt~
Algorithms/datasets/cifar100/cifar-100-python/meta
Algorithms/datasets/cifar100/cifar-100-python/test
Algorithms/datasets/cifar100/cifar-100-python/train
/Algorithms/datasets
